[submodule "dashjs"]
	path = dashjs
	url = https://github.com/streaming-university/dash.js.git
[submodule "FFmpeg/FFmpeg"]
	path = FFmpeg/FFmpeg
	url = https://github.com/streaming-university/FFmpeg.git
